html,body,header,#intro{
	height: 100%;
}
.nav-link:hover{
	background-color: #ff8800;
}

#intro{
	padding-bottom: 5px;
	margin-top: 69px;
	background: url("../img/background.jpg") no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
@media(max-width: 992px){
	#intro{
		height: 100%;
	}
}
@media(max-width: 663px){
	#intro{
		height: 100%;
	}
}
@media(max-width: 610px){
	#intro{
		height: 120%;
	}
}
@media(max-width: 458px){
	#intro{
		height: 120%;
	}
}
@media(max-width: 446px){
	.display-3{
		font-size: 50px;
	}
}
@media(max-width: 386px){
	#intro{
		height: 140%;
	}
}



.hr-section{
	margin: 0 0;
	height: 1px;
	background-color: #ff8800;
}
main{
	margin-top: 5%;
}
.card-feature{
	padding-bottom: 30px;
}
.feature-hr{
	background-color: #ff8800;
}
.hr-align{
	width: 50%;
	margin: 0 auto 0 auto;
}
@media (max-width: 991px) {
	.card-feature{
		max-width: 50%;
	}
}
@media (max-width: 768px) {
	.card-feature{
		max-width: 60%;
	}
}
@media (max-width: 459px) {
	.card-feature{
		max-width: 75%;
	}
}
@media (max-width: 376px) {
	.card-feature{
		max-width: 100%;
	}
}
@media (max-width: 992px) {
	main{
		margin-top: 10%;
	}
}
@media(max-width: 663px){
	main{
		margin-top: 10%;
	}
}
@media(max-width: 610px){
	main{
		margin-top: 35%;
	}
}
@media(max-width: 500px){
	main{
		margin-top: 45%;
	}
}
@media(max-width: 458px){
	main{
		margin-top: 45%;
	}
}
@media(max-width: 411px){
	main{
		margin-top:45%;
	}
}
@media(max-width: 386px){
	main{
		margin-top: 85%;
	}
}
@media(max-width: 360px){
	.display-3{
		font-size: 50px;
	}
	h3{
		font-size:25px;
	}

}
@media(max-width: 360px){

	main{
		margin-top: 85%;
	}
}
@media(max-width: 320px){

	main{
		margin-top: 95%;
	}
}

.notshow{
	display: none;
}


.card-product{
	height: 100%;
}
.product-info{
	opacity: 0;
	height: 100%;
}
.product-info:hover{
	opacity: 1;
}
.product_name{
	color:#ff8800;
}
@media (max-width: 991px) {
	.card-product{
		max-width: 50%;
	}
}
@media (max-width: 768px) {
	.card-product{
		max-width: 65%;
	}
}
@media (max-width: 459px) {
	.card-product{
		max-width: 80%;
	}
}
@media (max-width: 376px) {
	.card-product{
		max-width: 105%;
	}
}
.products_button{
	margin-top: -2px;
	border-radius: 0 0 20px 20px;
}

.how-img-mobile{
	display: none;
}
@media (max-width: 900px){
	.how-img-desktop{
		display: none;
	}
	.how-img-mobile{
		display: block;
	}
}
.delivery-text{
	color: #717171;
	font-size: 30px;
}
.contact-text{
	font-size: 20px;
}
@media(max-width: 400px){
	.order-img{
		width: 80%;
		height: 80%;
	}
}
.delivery-img{
	width: 100%;
	height: 100%;
}
@media(max-width: 320px){
	.client-img{
		height: 80%;
		width: 80%;
		margin-left: 10%;
	}
}

